nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

.search-form {
  width: 60%;
}

.dropdown {
  color: white;
  margin-right: 10px;
}

.icon {
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .search-form {
    width: 100%;
  }
}