.pswmanager-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;

  /* width: 70%;
  height: 70%; */
  margin: auto;
  padding: 30px 40px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
  background-color: transparent;
  overflow: auto;
}
.pswmanager-container h3 {
  margin-bottom: 20px;
  color: white;
  z-index: 1;
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.top-container button {
  /* padding: 10px 20px; */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  width: 60px;
  height: 40px;
}
.top-container button:hover {
  background-color: #ccc;
}
.buttom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.col-button {
  /* padding: 10px 20px; */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  width: 80px;
  font-size: 100%;
}
.col-button:hover {
  background-color: #ccc;
}
.col-icon {
  color: white;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.col-site {
  width: 500px;
  height: 50px;
  margin: auto;
  padding: 10px 40px;
  color: white;
  font-size: 20px;
  /* border: 1px solid #ccc;
  box-shadow: 0 0 10px white; */
  border-radius: 10px;
  background-color: transparent;
  margin: 30px 30px;
}
.col-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  border-bottom: #ccc 1px solid;
  height: 50px;
}
/* .modal {
} */
/* .modal-content {
  color-scheme: dark;
  background-color: #1c1c1d;
  color: white;
} */
.modal-content {
  background-color: #212528;
  color: white;
}
.input-icon {
  border: none;
}
/* .add-edit-modal {
  color-scheme: dark;
  background-color: #1c1c1d;
} */

.length {
  width: 40px;
}

/* @media screen and (max-width: 600px) {
  .pswmanager-container {
    width: 100%;
  }
} */
