.top-container {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 75%;
  height: 10%;
  justify-content: space-between;
  align-items: left;
  margin-top: 20px;
}

.top-container h3,
p {
  margin-top: 5px;
  margin-bottom: 20px;
  color: white;
  z-index: 1;
}

.top-container button:hover {
  background-color: #ccc;
}

.main-container {
  display: flex;
  flex-direction: column;
  top: 60%;
  left: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.main-header {
  position: fixed;
  width: 70%;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.add-btn {
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 80px;
  height: 40px;
  font-size: 20px;
  padding: 1px;
  margin-top: 10px;
}

.add-btn:hover {
  background-color: #ccc;
}

.main-body {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  width: 80%;
  height: 65%;
  padding: 30px 40px;
  background-color: transparent;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
  overflow: auto;
  scrollbar-color: white black;
}

.main-body ::-webkit-scrollbar-track {
  background-color: black;
}

.main-body ::-webkit-scrollbar {
  background: black;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.col-button {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  width: 80px;
  font-size: 100%;
}

.col-button:hover {
  background-color: #ccc;
}

.col-icon {
  color: white;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.col-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #ccc 1px solid;
  height: 60px;
}
.col-button-size {
  width: 300px;
}

.col-psw-size {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.col-site {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 400px;
  height: 50px;
  padding: 10px 5px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
}

.col-date {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  height: 50px;
  padding: 10px 5px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
}

.modal-content {
  background-color: #212528;
  color: white;
}

.input-icon {
  border: none;
}

.length {
  width: 40px;
}

.my-alert {
  z-index: 9999;
}

p {
  white-space: normal;
}

@media screen and (max-width: 840px) {
  .top-container h3,
  .top-container p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 600px) {
  .container {
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .button-container {
    justify-content: center;
  }
}
